h2, h3 {
    color: white;
}

body {
    background-image: url(../imgs/background3.jpg);
    background-size: cover;
    color: white;
}

::selection {
    background-color: #9f98a5;
    color: black;
}

nav:focus {
    background-color: darkslategrey;
}