@{
    ViewData["Title"] = "Home";
}


<link rel="stylesheet" href="~/css/views.css" />

<h2 class="home-page">Welcome to the Student Management System</h2>
<p class="home-page" style="color: white">Use the navigation bar above</p>